.logo-nasa-container{
    width: 20%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 32, 32);

}
.img-logo-nasa{
    width: 100%;
}