.footer_container {
    background-color: rgb(33, 32, 32);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.footer_container a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
}
.p_footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    color: aliceblue;
    font-size: 1.5rem;
}

.footer_container a:hover {
    color: rgb(24, 98, 207);
}

@media screen and (min-width: 481px) and (max-width: 680px) {
    .p_footer {
        font-size: 1.2rem;
    }
    .footer_container a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .p_footer {
        font-size: 1rem;
    }
    .footer_container a {
        font-size: 1rem;
    }
}
